<!DOCTYPE html>
<html>
<head>
    <title>Student Performance Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Student Performance Predictor</h1>
        <p>
            This web app predicts a student's Math score using basic academic and background information.
        </p>

        <div style="text-align:center; margin-top:20px;">
            <a href="/predict">
                <button>Try Prediction</button>
            </a>
        </div>
    </div>
</body>
</html>
